@model ReporteTransaccionesDetalledas

@{
    ViewData["Ttile"] = "Reporte Diario";
}

@*se envia un modelo con un enum para establecer a que vista o a que reporte se ingresa
para activar asi el menu superior*@
<partial name="_SubMenu.cshtml"  model="SubMenuTransacciones.Diario" />

<div class="m-3">
    <a asp-action="Crear" class="btn btn-primary">Crear una nueva transaccion</a>
</div>


@*Se carga el reporte diario enviando un modelo de tipo reporte transacciones detalladas *@
<partial name="_ReporteTransaccionesDetalladas" model="Model" />

