
@model TipoCuenta

@{

    ViewData["Title"] = "Editar Tipo Cuneta";

}


<div class="row">
    <div class="col-3"></div>

    <!-- Contenedor principal de formulario crar -->
    <div class="col-6">

        <div class="card card-forms w-100">
            <div class="card-body">

                <!-- Fila titulo y descripcions -->
                <div class="row">

                    <!-- Titulo y descripcion-->
                    <div class="col-12">
                        <p class="h5 fw-bold text-center">Editar tipo de Cuenta: @Model.Nombre</p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p class="display-6 text-center">
                            El tipo de cuenta se refiere a como podemos agrupar cuentas.
                            Ejemplos: Prestamos, tarjetas de creditos, etc
                        </p>
                    </div>
                    <div class="col-2"></div>

                </div>

                <!-- Fila formulario -->
                <div class="row">
                    <div class="col">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Formulario -->
                        <form asp-asp-controller="TiposCuentas" asp-action="Editar">

                            <input type="hidden" asp-for="Id" />
                            <div class="mb-3 row">
                                <label asp-for="Nombre" class="col-sm-4 col-form-label text-center"></label>
                                <div class="col-sm-7">
                                    <input type="text" id="Nombre" asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="col-1"></div>
                            </div>

                            <div class="m-4 row">
                                <div class="col-12 text-end">
                                    <button type="submit" class="btn btn-third">Editar</button>
                                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>



            </div>
        </div>


    </div>
    <div class="col-3"></div>
</div>
