#reordenable tr{
    cursor: move
}


.accordionCuentas button > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.accordionCuentas .accordion-collapse ul li {
    display: flex;
    justify-content: space-between;
}

