
/* Colores */
$primary: #1C2A33;
$secondary: #324359;
$light: #f2f2f2;
$dark: #232426;
$danger: #CC574D;


@import "../lib/bootstrap/scss/_functions.scss";
@import "../lib/bootstrap/scss/_variables.scss";
@import "../lib/bootstrap/scss/_variables-dark.scss";

/* Estilos modificados desde boostrapp */


$theme-colors: ( 
    "primary": $primary,
    "secondary":$secondary,
    "light":$light,
    "dark": $dark,
    "danger":$danger,
     "success":    $success,
    "info":       $info,
    "warning":    $warning,
);

/* Colores nuevos, fucion con los demas colores, se establece tamaño de la fuentes */
$custom-colors: ( "third":#5ABFA3);
$theme-colors: map-merge($theme-colors, $custom-colors);
$display-font-sizes: ( 1: 3.5rem, 2: 2.9rem, 3: 2.2rem, 4: 1.9rem, 5: 1.2rem, 6: 0.9rem );


@import "../lib/bootstrap/scss/bootstrap.scss";

/* Colores para los elemntos personalizados */
$third: #5ABFA3;
$second: #4966BF;
$primary: #1C2A33;

/* Elementos Personalizados */

/* Botones */
.btn {
    padding: 0.45rem 0.9rem;
    border-radius: 0.3rem;
}

.btn-primary {
    color: $light;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-second {
    color: $light;
    background-color: $second;
    border-color: $second;
}


.btn-danger {
    color: $light;
    background-color: $danger;
}

.btn-third {
    color: $light;
}

.btn-FirstMenu {
    color: $gray-500;
    background-color: $primary;
    border-color: $primary;
}

.btn.btn-FirstMenu:last-of-type:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
}

.btn:hover {
    color: $primary;
    background-color: tint-color($secondary, 70%);
    border-color: tint-color($secondary, 70%);
}

/* Estilos para el cuerpo de la pagina */
body {
    background-color: $gray-400;
    margin-bottom: 60px;
    font-family: "Nunito",sans-serif;
    font-size: 0.9rem;
}

/* Estilos de la tabla */
.card-table {
    box-shadow: -1px 1px 5px 0px $gray-500;
    background-color: $gray-200;
    padding: 0px;
    margin-top: 0.45rem;
}


.table-primary td {
    background-color: $gray-200;
    padding: 0.1rem;
}


.table-primary th {
    background-color: $gray-200;
    color: $gray-600;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}


/* Estilos para las tarjetas */
.card-forms {
    box-shadow: -2px 2px 18px 0px $gray-600;
    color: $gray-600;
    background-color: $gray-100;
}


/* Estilo para el formulario */
.form-control {
    padding: 0.19rem 0.19rem 0.19rem 0.8rem
}

.form-select {
    padding: 0.19rem 0.19rem 0.19rem 0.8rem
}