<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - ManejoPresupuesto</title>
    @*<link rel="stylesheet" href="ManejoPresupuesto.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/EstilosGenerales.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/ManejoPresupuesto.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-2 bg-primary" style="height:100vh">

                <a href="/" class="d-flex align-items-center justify-content-center text-decoration-none p-3 pb-0 text-white">
                    <i class="bi bi-piggy-bank fs-1 mx-2"></i>
                    <span class="fs-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Presupuesto</font></font></span>
                </a>

                <hr class="my-4 text-light">

                <ul class="nav flex-column">
                    <li class="nav-item mb-2">

                        <button class="btn btn-FirstMenu" data-bs-toggle="collapse" data-bs-target="#collapseTiposCuentas" aria-expanded="false" aria-controls="collapseTiposCuentas">
                            <i class="bi bi-file-earmark-text"></i>  Tipos Cuentas
                        </button>

                        <div class="collapse" id="collapseTiposCuentas">
                            <div class="card card-body bg-primary border-0 p-2">

                                <div class="list-group">
                                    <a asp-action="Crear" asp-controller="TiposCuentas" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-0 pb-0">
                                        Crear
                                    </a>
                                    <a asp-action="Index" asp-controller="TiposCuentas" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-1 pb-0">
                                        Consultar
                                    </a>
                                </div>

                            </div>
                        </div>

                    </li>
                    <li class="nav-item mb-2">
                        <button class="btn btn-FirstMenu" data-bs-toggle="collapse" data-bs-target="#collapseCategorias" aria-expanded="false" aria-controls="collapseWidthExample">
                            <i class="bi bi-bookmarks"></i> Categorias
                        </button>

                        <div class="collapse" id="collapseCategorias">
                            <div class="card card-body bg-primary border-0 p-2">

                                <div class="list-group">
                                    <a asp-action="Crear" asp-controller="Categorias" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-0 pb-0">
                                        Crear
                                    </a>
                                    <a asp-action="Index" asp-controller="Categorias" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-1 pb-0">
                                        Consultar
                                    </a>
                                </div>

                            </div>
                        </div>

                    </li>
                    <li class="nav-item mb-2">
                        <button class="btn btn-primary btn-FirstMenu" data-bs-toggle="collapse" data-bs-target="#collapseCuentas" aria-expanded="false" aria-controls="collapseCuentas">
                            <i class="bi bi-person-vcard"></i> Cuentas
                        </button>

                        <div class="collapse" id="collapseCuentas">
                            <div class="card card-body bg-primary border-0 p-2">

                                <div class="list-group">
                                    <a asp-action="Crear" asp-controller="Cuentas" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-0 pb-0">
                                        Crear
                                    </a>
                                    <a asp-action="Index" asp-controller="Cuentas" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-1 pb-0">
                                        Consultar
                                    </a>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="nav-item mb-2">
                        <button class="btn btn-primary btn-FirstMenu" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                            <i class="bi bi-tags"></i> Tipos Operaciones
                        </button>
                    </li>
                    <li class="nav-item mb-2">
                        <button class="btn btn-primary btn-FirstMenu" data-bs-toggle="collapse" data-bs-target="#collapseTransacciones" aria-expanded="false" aria-controls="collapseWidthExample">
                            <i class="bi bi-wallet2"></i> Transacciones
                        </button>

                        <div class="collapse" id="collapseTransacciones">
                            <div class="card card-body bg-primary border-0 p-2">

                                <div class="list-group">
                                    <a asp-action="Crear" asp-controller="Transacciones" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-0 pb-0">
                                        Crear
                                    </a>
                                    <a asp-action="Index" asp-controller="Transacciones" type="button" class="list-group-item list-group-item-action bg-primary border-0 text-light p-2 pt-1 pb-0">
                                        Consultar
                                    </a>
                                </div>

                            </div>
                        </div>

                    </li>
                    <li class="nav-item mb-2">
                        <button class="btn btn-primary btn-FirstMenu" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                            <i class="bi bi-person-badge"></i> Usuarios
                        </button>
                    </li>
                </ul>

            </div>

            <div class="col-10 p-0">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ManejoPresupuesto</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                               <!-- <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="TiposCuentas" asp-action="Index">Tipos Cuentas</a>
                                    </li>
                                 </ul> -->
                            </div>
                        </div>
                    </nav>
                </header>
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>


        </div>
    </div>


    



   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ManejoPresupuesto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
